---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import PageHead from '@/components/PageHead.astro'
import Layout from '@/layouts/Layout.astro'
import { Content } from '../content/about.mdx'
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="About" />
  <Breadcrumbs items={[{ label: 'About', icon: 'lucide:info' }]} />

  <section>
    <div class="mx-auto max-w-[calc(var(--container-3xl)-2rem)]">
      <article class="prose">
        <Content />
      </article>
    </div>
  </section>
</Layout>
